---
import PageLayout from "../../layouts/PageLayout.astro";
import { Icon } from "astro-icon";
const allPosts = await Astro.glob("./*.md");
---

<PageLayout title="Blog" description="My personal blog" activeNav="blog">
  <ul class="">
    {
      allPosts.map((post) => {
        return (
          <li class="">
            <a href={post.url} class="inline-block">
              <h2 class="text-skin-accent text-lg hover:underline">
                {post.frontmatter.title}
              </h2>
            </a>
            <div class="text-skin-muted italic">
              <Icon
                name="ph:calendar-blank"
                class="mb-0.5 inline-block h-5 w-5 align-middle"
              />
              {post.frontmatter.date}
            </div>
            <p>{post.frontmatter.description}</p>
          </li>
        );
      })
    }
  </ul>
</PageLayout>
