@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-skin-base font-mono text-skin-base;
  }
  :root,
  html[data-theme="light"] {
    --color-background: 245, 245, 245;
    --color-background-inverse: 23, 23, 23;
    --color-background-card: 229, 229, 229;
    --color-text: 38, 38, 38;
    --color-text-heading: 23, 23, 23;
    --color-text-muted: 163, 163, 163;
    --color-border: 163, 163, 163;
    --color-highlight: 244, 114, 182;
    --color-highlight-hover: 236, 72, 153;
  }
  html[data-theme="dark"] {
    --color-background: 23, 23, 23;
    --color-background-inverse: 245, 245, 245;
    --color-background-card: 229, 229, 229;
    --color-text: 163, 163, 163;
    --color-text-heading: 245, 245, 245;
    --color-text-muted: 82, 82, 82;
    --color-border: 82, 82, 82;
    --color-highlight: 167, 139, 250;
    --color-highlight-hover: 168, 85, 247;
  }
  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }

  code {
    @apply rounded-sm bg-gray-300 p-1;
  }
}
