---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto max-w-screen-sm px-4 sm:px-0">
    <!-- hero section -->
    <section class="py-10 flex items-center flex-col space-y-5">
      <img
        src="/images/profile-picture.jpg"
        alt="main picture"
        class="rounded-full h-64 w-64"
      />
      <h1 class="text-5xl font-bold">Xila Luna</h1>
      <p class="text-center">
        Xila Luna is a creative full-stack engineer who is willing and able to
        find solutions when there are none.
      </p>
    </section>

    <div class="w-full border-b border-neutral-400"></div>

    <!-- timeline section -->
    <section class="py-10 space-y-5">
      <div>
        <h2 class="secondary-heading">Timeline</h2>
      </div>
      <div class="space-y-2">
        <!-- 2022 -->
        <div class="flex gap-8">
          <div>
            <h3 class="font-semibold">2022</h3>
          </div>
          <div class="space-y-2">
            <p>
              Developed full-stack MERN application while a part of <span
                class="text-skin-accent">Co.Lab</span
              >
            </p>
            <p>
              Graduated from Dominican University of California with a
              bachelor&apos;s degree in computer science
            </p>
            <p>
              Started volunteering with CodeNation to help students learn web
              development
            </p>
            <p>Started IT consulting at GeekSquad BestBuy</p>
          </div>
        </div>
        <!-- 2020 -->
        <div class="flex gap-8">
          <div>
            <h3 class="font-semibold">2020</h3>
          </div>
          <div class="space-y-2">
            <p>Graduated from Berkeley High School</p>
            <p>Completed Code Nation Pandora program</p>
            <p>Participant of Google's Computer Science Summer Institute</p>
          </div>
        </div>
        <!-- 2019 -->
        <div class="flex gap-8">
          <div>
            <h3 class="font-semibold">2019</h3>
          </div>
          <div class="space-y-2">
            <p>Joined my High School's Robotics Club Team 5419 Berkelium</p>
          </div>
        </div>
        <!-- 2018 -->
        <div class="flex gap-8">
          <div>
            <h3 class="font-semibold">2018</h3>
          </div>
          <div class="space-y-2">
            <p>Wrote my first line of code</p>
          </div>
        </div>
      </div>
    </section>

    <div class="w-full border-b border-neutral-400"></div>

    <!-- projects section -->
    <section class="py-10 space-y-5">
      <h2 class="secondary-heading">Featured Work</h2>
      <ul class="space-y-5">
        <li>
          <a
            href="https://github.com/BoringStocks/BoringStocks"
            class="inline-block"
          >
            <h2 class="text-lg text-skin-accent hover:underline">
              BoringStocks
            </h2>
          </a>
          <p>
            A minimalistic stock information website for the average trader.
          </p>
        </li>
        <li>
          <a
            href="https://github.com/xilaluna/fentanyl-epidemic-tracker"
            class="inline-block"
          >
            <h2 class="text-lg text-skin-accent hover:underline">
              Fentanyl Epidemic Tracker
            </h2>
          </a>
          <p>
            A Go scraper that pulls fentanyl articles to follow the fentanyl
            epidemic trend
          </p>
        </li>
      </ul>
      <p class="text-center hover:text-skin-accent">
        <a href="/projects/"
          >All Projects <Icon
            name="ph:caret-right"
            class="inline-block h-5 w-5 align-middle mb-0.5"
          /></a
        >
      </p>
    </section>
  </main>
</Layout>
<style>
  .secondary-heading {
    @apply text-3xl font-bold text-center;
  }
</style>
