---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" activeNav="home">
  <main class="mx-auto max-w-screen-sm px-4 sm:px-0">
    <!-- hero section -->
    <section class="flex flex-col items-center space-y-5 py-10">
      <img
        src="/images/profile-picture.jpg"
        alt="main picture"
        class="h-64 w-64 rounded-full"
      />
      <h1 class="text-5xl font-bold text-skin-emphasis">Xila Luna</h1>
      <p class="text-center">
        Xila Luna is a creative full-stack engineer who is willing and able to
        find solutions when there are none.
      </p>
      <div>
        <a
          href="/links/"
          class="rounded bg-skin-accent p-2 text-skin-inverted hover:bg-skin-accent-hover"
          >Contact Me</a
        >
        <a
          href="/blog/hello-world/"
          class="rounded border border-skin-accent p-2 text-skin-accent hover:border-skin-accent-hover hover:text-skin-accent-hover"
          >About Me</a
        >
      </div>
    </section>

    <div class="w-full border-b border-skin-base"></div>

    <!-- timeline section -->
    <section class="space-y-5 py-10">
      <div>
        <h2 class="secondary-heading">Timeline</h2>
      </div>
      <div class="space-y-2">
        <!-- 2022 -->
        <div class="flex gap-5">
          <div>
            <h3 class="font-semibold text-skin-emphasis">2022</h3>
          </div>
          <div class="space-y-2">
            <p>
              Developed full-stack MERN application while a part of <a
                class="link"
                href="https://www.joincolab.io/certificate/xila-luna">Co.Lab</a
              >
            </p>
            <p>
              Graduated from <a class="link" href="https://www.dominican.edu/"
                >Dominican University of California</a
              > with a bachelor&apos;s degree in computer science
            </p>
            <p>
              Started volunteering with <a
                href="https://codenation.org/"
                class="link">CodeNation</a
              > to help students learn web development
            </p>
            <p>
              Started IT consulting at <a
                class="link"
                href="https://www.bestbuy.com/site/computer-tablet-services/geek-squad-24-7-support-welcome/pcmcat748300520360.c?id=pcmcat748300520360"
                >GeekSquad BestBuy</a
              >
            </p>
          </div>
        </div>
        <!-- 2020 -->
        <div class="flex gap-5">
          <div>
            <h3 class="font-semibold text-skin-emphasis">2020</h3>
          </div>
          <div class="space-y-2">
            <p>Graduated from Berkeley High School</p>
            <p>
              Completed <a href="https://codenation.org/" class="link"
                >CodeNation</a
              > Pandora program
            </p>
            <p>
              Participant of <a
                href="https://buildyourfuture.withgoogle.com/programs/computer-science-summer-institute"
                class="link">Google's Computer Science Summer Institute</a
              >
            </p>
          </div>
        </div>
        <!-- 2019 -->
        <div class="flex gap-5">
          <div>
            <h3 class="font-semibold text-skin-emphasis">2019</h3>
          </div>
          <div class="space-y-2">
            <p>
              Joined my High School's Robotics Club <a
                href="https://team5419.org/"
                class="link">Team 5419</a
              > Berkelium
            </p>
          </div>
        </div>
        <!-- 2018 -->
        <div class="flex gap-5">
          <div>
            <h3 class="font-semibold text-skin-emphasis">2018</h3>
          </div>
          <div class="space-y-2">
            <p>Wrote my first line of code</p>
          </div>
        </div>
      </div>
    </section>

    <div class="w-full border-b border-skin-base"></div>

    <!-- projects section -->
    <section class="space-y-5 py-10">
      <h2 class="secondary-heading">Featured Work</h2>
      <ul class="space-y-5">
        <li>
          <a
            href="https://github.com/BoringStocks/BoringStocks"
            class="inline-block"
          >
            <h2 class="text-lg text-skin-accent hover:underline">
              BoringStocks
            </h2>
          </a>
          <p>
            A minimalistic stock information website for the average trader.
          </p>
        </li>
        <li>
          <a
            href="https://github.com/xilaluna/fentanyl-epidemic-tracker"
            class="inline-block"
          >
            <h2 class="text-lg text-skin-accent hover:underline">
              Fentanyl Epidemic Tracker
            </h2>
          </a>
          <p>
            A Go scraper that pulls fentanyl articles to follow the fentanyl
            epidemic trend
          </p>
        </li>
      </ul>
      <p class="text-center hover:text-skin-accent">
        <a href="/projects/"
          >All Projects <Icon
            name="ph:caret-right"
            class="mb-0.5 inline-block h-5 w-5 align-middle"
          /></a
        >
      </p>
    </section>
  </main>
</Layout>
<style>
  .secondary-heading {
    @apply text-center text-2xl font-semibold tracking-wide text-skin-emphasis;
  }
  .link {
    @apply text-skin-accent hover:text-skin-accent-hover hover:underline;
  }
</style>
