---
import PageLayout from "../layouts/PageLayout.astro";
import { Icon } from "astro-icon";
---

<PageLayout title="Links" description="@xilaluna">
  <section class="flex flex-col items-center space-y-5">
    <a class="btn" href="https://github.com/xilaluna"
      >GitHub <Icon
        name="ph:github-logo"
        class="mb-0.5 inline-block h-5 w-5 align-middle"
      /></a
    >
    <a class="btn" href="https://www.linkedin.com/in/xilaluna/"
      >LinkedIn <Icon
        name="ph:linkedin-logo"
        class="mb-0.5 inline-block h-5 w-5 align-middle"
      /></a
    >
    <a class="btn" href="mailto:xilaluna2@gmail.com"
      >Email <Icon
        name="ph:paper-plane-tilt"
        class="mb-0.5 inline-block h-5 w-5 align-middle"
      /></a
    >
    <a class="btn" href="https://www.buymeacoffee.com/xilaluna"
      >Buy Me a Coffee <Icon
        name="ph:coffee"
        class="mb-0.5 inline-block h-5 w-5 align-middle"
      /></a
    >
    <a class="btn" href="/resume.pdf"
      >Resume <Icon
        name="ph:scroll"
        class="mb-0.5 inline-block h-5 w-5 align-middle"
      /></a
    >
  </section>
</PageLayout>

<style>
  .btn {
    @apply w-full rounded-md bg-skin-accent px-6 py-4 text-center text-skin-inverted transition duration-300 ease-in-out hover:bg-skin-inverted;
  }
</style>
