---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Links">
  <main class="mx-auto max-w-screen-sm px-4 sm:px-0">
    <section class="flex flex-col items-center space-y-5">
      <h1>Links</h1>
      <p>@xilaluna</p>
    </section>
  </main>
</Layout>
