---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Links">
  <main class="mx-auto max-w-screen-sm px-4 sm:px-0">
    <section class="flex flex-col items-center space-y-5 py-10">
      <h1 class="text-5xl font-bold">Links</h1>
      <p>@xilaluna</p>
    </section>
    <section class="flex flex-col items-center space-y-5 pb-10">
      <a class="btn" href="https://github.com/xilaluna"
        >GitHub <Icon
          name="ph:github-logo"
          class="inline-block h-5 w-5 align-middle"
        /></a
      >
      <a class="btn" href="https://www.linkedin.com/in/xilaluna/"
        >LinkedIn <Icon
          name="ph:linkedin-logo"
          class="inline-block h-5 w-5 align-middle"
        /></a
      >
      <a class="btn" href="mailto:xilaluna2@gmail.com"
        >Email <Icon
          name="ph:paper-plane-tilt"
          class="inline-block h-5 w-5 align-middle"
        /></a
      >
      <a class="btn" href="https://www.buymeacoffee.com/xilaluna"
        >Buy Me a Coffee <Icon
          name="ph:coffee"
          class="inline-block h-5 w-5 align-middle"
        /></a
      >
    </section>
  </main>
</Layout>
<style>
  .btn {
    @apply rounded-md bg-pink-400 px-6 py-4 w-full text-center text-neutral-200 transition duration-300 ease-in-out hover:bg-neutral-900;
  }
</style>
