---
export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<section class="flex flex-col items-center space-y-2">
  <h1 class="text-4xl font-bold text-skin-emphasis">{title}</h1>
  <p class="italic text-skin-muted">{description}</p>
</section>
