---
import PageLayout from "../../layouts/PageLayout.astro";

type Project = {
  title: string;
  description: string;
  link: string;
};

const response = await fetch("https://git-pinned-production.up.railway.app/");
const projects = (await response.json()) as Project[];
---

<PageLayout
  title="Projects"
  description="A collection of my work"
  activeNav="projects"
>
  <ul class="space-y-5">
    {
      projects.map((project) => {
        return (
          <li>
            <a href={project.link} class="inline-block">
              <h2 class="text-skin-accent text-lg hover:underline">
                {project.title}
              </h2>
            </a>
            <p>{project.description}</p>
          </li>
        );
      })
    }
  </ul>
</PageLayout>
