---
import Layout from "./Layout.astro";
import Heading from "../components/Heading.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} activeNav="blog">
  <main class="mx-auto max-w-screen-sm space-y-10 px-4 py-10 sm:px-0">
    <Heading title={frontmatter.title} description={frontmatter.description} />
    <section>
      <slot />
    </section>
  </main>
</Layout>
