---
import "../styles/base.css";
import { Icon } from "astro-icon";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="sticky top-0 z-10 backdrop-blur-md">
      <nav
        class="mx-auto max-w-screen-sm px-4 sm:px-0 flex justify-between items-center border-b py-5 border-skin-base"
      >
        <a href="/">
          <Icon name="ph:house" class="icon-style" />
        </a>
        <a href="/blog/">
          <Icon name="ph:newspaper" class="icon-style" />
        </a>
        <a href="/projects/">
          <Icon name="ph:rocket-launch" class="icon-style" />
        </a>
        <a href="/links/">
          <Icon name="ph:link" class="icon-style" />
        </a>
        <Icon name="ph:sun" class="icon-style" />
      </nav>
    </header>
    <slot />
    <footer
      class="mx-auto max-w-screen-sm px-4 sm:px-0 py-5 flex justify-between items-center border-t border-skin-base"
    >
      <p>
        {"Copyright © "}
        {new Date().getFullYear()}
        {" Xila Luna"}
      </p>
      <a
        href="https://github.com/xilaluna/xilaluna.com"
        class="hover:text-skin-accent hover:underline"
      >
        Source Code<Icon
          name="ph:star"
          class="inline-block h-5 w-5 align-middle mb-0.5 ml-2"
        />
      </a>
    </footer>
  </body>
</html>
<style>
  .icon-style {
    @apply hover:text-skin-accent h-6 w-6;
  }
</style>
