---
import Layout from "./Layout.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<Layout title={title}>
  <main class="mx-auto max-w-screen-sm px-4 sm:px-0 py-10 space-y-10">
    <section class="flex flex-col items-center space-y-2">
      <h1 class="text-4xl font-bold">{title}</h1>
      <p class="text-skin-muted italic">{description}</p>
    </section>
    <slot />
  </main>
</Layout>
